<div class="form-group">
  <%= form_with(model: @image) do |form|%>
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
